@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
}
/* [font-family: Azeret Mono;] ta google font e nei but [font-family: "Azeret Mono", monospace;] ta ache jeta figma er sathe match kore nah */
body{
    font-family: "Azeret Mono", monospace;
}

/* banner styles starts here (my monitor resolution is ) */

.banner-container{
    max-width: 100%;
    min-height: 652px;
    background-image: url(../assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 74px;
}

.banner-contents{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
    height: 582px;
    padding: 26px  221px 44px;
}
.banner-image{
    width: 240.28px;
    height: 240px;
    padding-top: 0;
}
.banner-image img{
    width: 100%;
    height: 100%;
}
.banner-text-content{
    text-align: center;

}

.banner-text-content h1{
    font-size: 48px;
    font-weight: 800;
    margin-top: 32px;
    letter-spacing: 0%;  
}
.banner-text-content p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 24px;
}
.btn-banner{
    padding: 21px 24px;
    border-radius: 8px;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: 600;
    background-color: rgb(13, 19, 33);
    margin-top: 36px;
}

/* banner styles ends here */


/*web-dev styles starts here */
.web-dev-container{
    max-width: 1140px;
    min-height: 1393px;
    background-color: rgba(13, 19, 33, 0.02);
    border-radius: 16px;
    margin: 0 auto;
    margin-bottom: 88px;
    padding: 80px 97px;
}

.web-dev-text-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 47px 48px;
}

.web-dev-text-content h2{
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 24px;
}
.web-dev-text-content p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
}


/*cards styles starts here */
.card-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card-items{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 48px;
    background-image: linear-gradient(rgb(255, 255, 255),
    rgba(255, 255, 255, 0));
    margin-bottom: 32px;
    /* border: 2px solid red; */
    border-radius: 16px;
}
.card-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    line-height: 26px;
    padding-right: 20px;
    
}
.card-text h3{
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    margin-top: 10px;
}

.card-text p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    margin-top: 16px;
    
}

.btn-card{
    padding: 12px 20px;
    margin-top: 32px;
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
}

.card-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*cards styles ends here */

/*web-dev styles ends here */

/*inspiration styles starts here */
.inspiration-container{
    max-width: 1140px;
    min-height: 775px;
    margin: 0 auto;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 150px;
}

.inspiration-text h3{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800; 
    margin-bottom: 24px;   
}
.inspiration-text p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-left: 144px;
    margin-right: 144px;
    margin-bottom: 48px;
}

.inspiration-video{
    border: 1px solid rgba(13, 19, 33, 0.2);
    width: 100%;
    height: 614px;
    border-radius: 32px;
    position: relative;
}
.video{
    position: absolute;
    border-radius: 16px;
    right: 2.5%;
    top: 6%;
}
/*inspiration styles ends here */
